
/* to style the list colors i used class ids for all of them*/



.green{
    color: green;
}




.yellow{
    color:yellow;
}

.red{

    color: red;
}



button:hover{

    background-color: aquamarine;
}

button{
    background-color: red;
}