h1 {
    color:green;
    text-align:center;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2{
    color:red;
    text-align: center;
    font-weight:900;
    text-decoration:red underline;
}
 

h3{
    text-decoration:yellow underline;
}

p{
    color: red;
    background-color:yellow;
    line-height: 1.5;
    letter-spacing: 0.5ex;
}


p{
    color: red;
    background-color:yellow;
    line-height: 1.5;
    letter-spacing: 0.5ex;

}
button{
        color:aqua;
        background-color: blue;

}
